#about {
    /* background-color: beige; */
    background-size: 100% auto;
    background-repeat: no-repeat;
    width: 100%;
    float: left;
    height: 1000px;
}

#titleAbout {
    margin-top: 100px;
    margin-left: 42%;
    font-size: 90px;
    font-weight: 100;
    letter-spacing: 0.1em;
    margin-bottom: 15px;
    font-family: 'MyFont';
}

#hrLeft {
    margin-left: 31%;
    opacity: 1;
    width: 42%;
    transition: all 1s;
}

#us>hr {
    width: 10%;
    float: left;
    padding-left: 3%;
}

#us>span {
    width: 10%;
    float: left;
    text-align: center;
    margin: 0px 1px 0px 1px;
    color: black;
    animation: mymove 1s infinite;
}

#us{
    margin-bottom: 100px;
}

@keyframes mymove {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.timeline {
    overflow: hidden;
    width: 700px;
    margin-top: 0;
    margin-left: 30%;
    margin-bottom: 0px;
}

.floatleft {
    width: 350px;
    border-right: 1px solid #323232;
    text-align: right;
    float: left;
    padding-right: 2%;
}

.floatright {
    float: left;
    width: 400px;
    border-left: 1px solid #323232;
    margin-left: 10px;
    margin-right: 20px;
    /* text-align: left; */
}

.yearHeader {
    height: 50px;
    width: 100px;
    ;
    font-size: 46px;
    margin-left: 20px;
    margin-right: 20px;
    letter-spacing: 0.1em;
    font-weight: 100;
}

li {
    padding-bottom: 10px;
    margin-left: 20px;
    margin-right: 20px;
}

ul {
    overflow: hidden;
    text-align: left;
}
@font-face {
    font-family: 'MyFont'; /*a name to be used later*/
    src: url('../Harvest.ttf'); /*URL to font*/
}