#contact {
    /* background-image: url(../img/about-bg.jpeg); */
    /* background-color: beige; */
    width: 100%;
    float: left;
    height: 1000px;
}

#titleContact {
    margin-top: 100px;
    margin-left: 41%;
    font-size: 90px;
    font-weight: 100;
    letter-spacing: 0.1em;
    margin-bottom: 15px;
    font-family: 'MyFont';
}

#map {
    margin-left: 5%;
    margin-top: 14%;
}

#name {
    margin-left: 35%;
    margin-top: 2%;
}

#name a:visited {
    color: dodgerblue;
}
#name a {
    color: dodgerblue;
    text-decoration: none;
}

#divLeft {
    width: 50%;
    margin: 0;
    height: 600px;
    float: left;
}

#divRight{
    width: 50%;
    margin: 0;
    height: 600px;
    float: left;
}
#divLeft p:first-child {
    font-size: 24px;
    margin-left: 25%;
    letter-spacing: 0.1em;
    font-weight: 100;
}

#divLeft p {
    font-size: 16px;
    margin-left: 25%;
    font-weight: 100;
}

#mail:visited {
    color: #000;
}

#mail:active {
    color: #000;
}

#mail {
    color: cornflowerblue;
}
#mail:hover
{
    color: darkseagreen;
}
/* #hrLeft {
    margin-left: 31%;
    opacity: 1;
    width: 42%;
    transition: all 1s;
}





#us {
    margin-bottom: 100px;
}

@keyframes mymove {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
} */