/* begin header */

#menu {
    position: fixed;
    top: 3em;
    left: 32%;
    /* background-color: #f3f3f3; */
    width: 100%;
    float: left;
    z-index: 0;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#menu li a {
    /* display: block; */
    text-align: center;
    padding: 20px 20px 20px 20px;
    text-decoration: none;
    color: antiquewhite;
    font-size: 18px;
    font-weight: 200;
}

ul li {
    float: left;
    /* width: 100px; */
}

body {
    margin: 0;
    font-family: sans-serif;
    overflow: hidden;
    height: auto;
}

::-webkit-scrollbar {
    display: none;
}

/* ::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 15px;
    background: gray
} */

#menu ul li a:hover:before {
    visibility: visible;
    transform: scaleX(1);
}

.btn:hover {
    /* background-color: ghostwhite; */
    color: rgb(81, 139, 187) !important;
}

#menu ul li a:before {
    content: "";
    position: absolute;
    /* width: 50px; */
    height: 1px;
    bottom: 0;
    background-color: rgb(37, 32, 32);
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.3s;
}

/* chua xong */

.active {
    border: black 1px solid;
    opacity: 0.5;
    list-style-type: none;
    /* margin-top: 100px; */
    height: 15px;
    width: 15px;
    border-radius: 100%;
    margin: 7px 0px 7px 0px;
    box-sizing: border-box;
    float: none !important;
    overflow: hidden;
}

#pagination .active a {
    padding: 0px 15px 0px 15px;
}

#pagination {
    margin-top: 400px;
    margin-left: 1850px;
    width: 30px;
    position: fixed;
    box-sizing: border-box;
    z-index: 100;
}

#pagination li:hover {
    transform: scale(1.2);
    transition: all 0.51s;
    cursor: pointer;
}

#pagination li:first-child {
    background: black;
}

/* ==== */

/*  */

#btnHome:before {
    width: 50px;
}

#btnPro::before {
    width: 76px;
}

#btnContact:before {
    width: 75px;
}

#btnReg:before {
    width: 70px;
}

#btnAbout:before {
    width: 78px;
}

/* #btnBlog:before {
    width: 46px;
} */

#page {
    scroll-behavior: smooth !important;
    /* smooth scroll */
    overflow-y: auto;
    /* hide scroll */
    width: 100%;
    float: left;
    position: relative;
    user-select: none;
    transition: all 1s;
    height: auto;
    z-index: 90;
    margin-top: 0px;
}

/*  */

#video {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: auto;
    z-index: -100;
    position: fixed;
}

#header {
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    height: 61em;
    float: left;
}

#title {
    font-size: 170px;
    position: absolute;
    top: 250px;
    left: 22%;
    font-weight: 100;
    font-family: 'MyFont';
    letter-spacing: 0.1em;
    color: black;
    white-space: nowrap;
    width: 1250px !important;
    margin: 10px 0 0 10px;
    white-space: nowrap;
    overflow: hidden;
    animation: type 4s steps(100, end) infinite;
}

@keyframes type {
    0% {
        width: 0;
    }
}

li a {
    color: black;
}

#startPage {
    width: 130px;
    padding-left: 35px;
    padding-right: 18px;
    padding-top: 4px;
    padding-bottom: 4px;
    font-size: 14px;
    border-radius: 5px;
    font-family: 'Source Sans Pro', sans-serif;
    background-color: white;
    color: black;
    letter-spacing: 0.2em;
    margin-left: 45%;
    margin-top: 33%;
}

#startPage a {
    text-decoration: none;
}

#startPage:hover {
    background-color: #c59d5f;
}

#startPage a:active {
    color: black;
}

#startPage a:visited {
    color: #000;
}

/* #startPage a:active {
    color: black;
} */

/* #startPage a:visited {
    color: black;
} */

/* #startPage a:hover {
    background-color: #ddb57a;
}  */

/* end header */

#logo {
    width: 200px;
    height: 200px;
    margin-left: 20%;
    margin-top: -3%;
    position: fixed;
}

#nav {
    height: 100px;
    width: 100%;
    background: black;
    position: fixed;
    opacity: 0.8;
    z-index: 100;
}

#titleLoad {
    margin-left: 11%;
    font-size: 32px;
    font-weight: 100;
    font-family: sans-serif;
}

#divLoad {
    box-sizing: border-box;
    /* margin-top: 20%;
    margin-left: 40%; */
    padding-left:35%;
    padding-top: 12%;
    user-select: none;
    width: 100%;
    height: 1000px;
    background-color: #ECF0F1;
    z-index: 200;
}
@font-face {
    font-family: 'MyFont';
    src: url('../font/Harvest.ttf');
}