body {
    font-weight: 100;
    font-family: sans-serif;
    margin: 0;
    user-select: none;
}

#container {
    overflow: hidden;
    display: block;
}

#section {
    display: inline-block;
    box-sizing: border-box;
    transition: all 0.5s;
}

#section div {
    float: left;
    box-sizing: border-box;
}

#titleMain {
    font-weight: 100;
    font-family: 'MyFont';
    letter-spacing: 0.1em;
    color: black;
    white-space: nowrap;
    width: 1200px;
    overflow: hidden;
    animation: type 3s steps(60, end) infinite;
    font-size: 190px !important;
    margin-left: 24% !important;
    color: black;
    font-size: 100px;
    margin-left: 24%;
    margin-top: 10%;
}

@font-face {
    font-family: 'MyFont';
    src: url('../font/Harvest.ttf');
}

@keyframes type {
    0% {
        width: 0;
    }
}

#btn {
    width: 130px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 4px;
    padding-bottom: 4px;
    font-size: 16px;
    border-radius: 5px;
    font-family: 'Source Sans Pro', sans-serif;
    background-color: white;
    color: black;
    margin-left: 45%;
    margin-top: 33%;
    text-decoration: none;
    letter-spacing: 0.1em;
}

#btn:visited {
    color: black;
}

#btn:hover {
    background: #c59d5f;
}

#btn:visited {
    color: black;
}

.btnBack {
    cursor: pointer;
    display: inline-block;
    font-size: 20px;
    border-radius: 5px;
    font-family: 'Source Sans Pro', sans-serif;
    color: papayawhip;
    text-decoration: none;
    position: relative;
    top: 350px;
    left: 30px;
}

#list div {
    float: left;
    margin-right: 180px;
}

#list div img {
    width: 350px;
    height: 350px;
    border-radius: 10%;
}

#list {
    margin-left: 14%;
}

#list div p {
    font-family: sans-serif;
    font-size: 2em;
    text-align: center;
}

#list div:hover {
    transform: scale(1.1, 1.1);
    transition: all 0.5s;
}

#titleCity {
    text-align: center;
    font-size: 60px;
    margin-top: 0;
}

#titleMap {
    text-align: center;
    font-size: 60px;
    margin-top: 0;
}

#nameCity {
    text-align: center;
    font-size: 60px;
    margin-top: 0;
}

#listFood div {
    float: left;
    margin-right: 100px;
}

#listFood div img {
    width: 400px;
    height: 400px;
    border-radius: 10%;
}

#listFood {
    margin-left: 12%;
}

#listFood div p {
    font-family: sans-serif;
    font-size: 1.5em;
    text-align: center;
    transition: all 1s;
    font-weight: 100;
}

#listFood div:hover {
    transform: scale(1.1, 1.1);
    transition: all 0.5s;
}

#another {
    position: absolute;
    top: 720px;
    margin-left: 840px;
    font-size: 22px;
    border: 1px solid black;
    text-decoration: black;
    border-radius: 5px;
    box-sizing: border-box;
    padding-left: 20px;
    padding-right: 20px;
    cursor: pointer;
}

#locationFood {
    height: 600px;
    width: 1200px;
    float: left;
    margin-left: 17%;
}

#history {
    float: right;
    font-size: 30px;
    cursor: pointer;
    margin-top: 6%;
    margin-right: 1%;
}

#divHistory {
    background: #FFFAFA;
    height: 700px;
    width: 1500px;
    z-index: 2;
    position: fixed;
    top: 150px;
    left: 12%;
    display: none;
    border: 1px solid;
    text-align: right;
    border-radius: 30px;
    font-size: 28px;
    overflow-y: scroll;
}

#divHistory::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}

/* #divHistory::-webkit-scrollbar-track {
    border-radius: 10px;
}

#divHistory::-webkit-scrollbar-thumb {
    border-radius: 10px;
} */

#btnHis {
    cursor: pointer;
    height: auto;
    width: auto;
}

#dataHistory {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    text-align: center;
    font-size: 20px;
}

#dataHistory tr th {
    border: 1px solid #dddddd;
    padding: 8px;
    font-family: 'MyFont';
    font-size: 50px;
    font-weight: 100;
}

#dataHistory tr:nth-child(even) {
    background-color: #FFFAFA;
}

#dataHistory tr:hover {
    background-color: #F0F8FF;
}

#dataHistory tr:first-child:hover {
    background-color: #FFFAFA;
}

#dataHistory tr td a:active {
    color: black;
}
#dataHistory tr td{
    font-family: sans-serif;
}
#dataHistory tr td a {
    color: black;
    text-decoration: none;
    border: 1px solid black;
    border-radius: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

#dataHistory tr td a:hover {
    background: #AFEEEE;
}

#dataHistory tr td img {
    border-radius: 30px;
}

#titleHis {
    margin-top: 0;
    margin-bottom: 10px;
    margin-right: 30%;
    font-size: 90px;
    font-family: 'MyFont';
}

#imgHover {
    display: none;
    opacity: 0.9;
    width: 600px;
    height: 600px;
    position: fixed;
    z-index: 10;
    top: 240px;
    left: 13%;
    transition: all 1s;
}

#clearAllHis {
    cursor: pointer;
}

#closeDivHis {
    margin-right: 2%;
    margin-left: 2%;
    cursor: pointer;
}
