
#mid {
    /* background-image: url(../img/home-bg-4.jpeg); */
    background-size: cover;
    background-size: 100% auto;
    width: 100%;
    float: left;
    height: 1000px;
    overflow: hidden;
}