#register {
    /* background-color: beige; */
    width: 100%;
    float: left;
    height: 1000px;
}

#titleReg {
    margin-top: 100px;
    margin-left: 42%;
    font-size: 90px;
    font-weight: 100;
    font-family: 'MyFont';
    letter-spacing: 0.1em;
    margin-bottom: 15px;
}

#hrLeft {
    margin-left: 31%;
    opacity: 1;
    width: 42%;
    transition: all 1s;
}

#usReg>hr {
    width: 10%;
    float: left;
    padding-left: 3%;
}

#usReg>span {
    width: 10%;
    float: left;
    text-align: center;
    margin: 0px 1px 0px 1px;
    color: black;
    animation: mymove 1s infinite;
}
#content{

    padding: 10px 10px 10px 10px;
    border-radius: 5px;
    opacity: 0.9;    
    margin-bottom: 0;
}
#usReg {
    margin-left: 24%;
}

@keyframes mymove {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

#infoReg{
    width: 50%;
    float: left;
}
#formReg{
    width: 50%;
    float: left;
}
#register>div {
    width: 50%;
    float: left;
    height: auto;
    box-sizing: border-box;
}

#infoReg img {
    margin-left: 11%;
    width: auto;
    height: auto;
    border-radius: 10px;
}
#infoReg span{
    margin-left: 10%;
    margin-top: 2%;
    float: left;  
    width: 50%;
    line-height: 30px;
    margin-bottom: 2%;
    font-family:sans-serif; 
    font-weight: 100;
    font-size: 20px;
    background-color: antiquewhite;
}
#formReg form {
    margin-top: 2%;
}

#fullname {
    height: 30px;
    width: 100%;
    float: left;
    margin-right: 15%;
    font-size: 14px;
    font-family:  sans-serif;
    padding-left: 1%;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 12px 20px;
    margin: 8px 0;

}
#fullname:focus{
    border: 1px solid #ccc;
}
#gende {
    height: 20px;
    border-radius: 5px;
    border: 1px solid #d8d8d8;
    font-size: 20px;
    font-family: sans-serif;
    box-sizing: border-box;
}

.label {
    font-family:  sans-serif;
    color: black;
    font-weight: bold;
}

#email {
    height: 30px;
    width: 100%;
    float: left;
    margin-right: 15%;
    font-size: 14px;
    font-family:  sans-serif;
    padding-left: 1%;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 12px 20px;
    margin: 8px 0;
}
#email:focus{
    border: 1px solid #ccc;
}
#message {
    resize: none;
    width: 100%;
    height: 200px;
    float: left;
    margin-right: 15%;
    font-size: 14px;
    font-family:  sans-serif;
    padding-left: 1%;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 12px 20px;
    margin: 8px 0;
}
#message:focus{
    border: 1px solid #ccc;
}
#button {
    background-color: #262526;
    color: white;
    width: 30%;
    height: 40px;
    border: none;
    font-size: 12px;
    font-family: sans-serif;
    letter-spacing: 0.1em;
    margin-top: 8%;
    margin-bottom: 5%;
    margin-left:  15%;
    border-radius: 5px;
}

#button:hover {
    background-color: #c59d5f;
    cursor: pointer;
}
#tableReg{
    width: 80%;
}
#reset{
    position: relative;
    background-color: Transparent;
    border: none;
    outline: none;
    top: 10px;
    left: 10px;
}
#reset:hover{
    animation: mymove 1s;
}